:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #2616bd;
    --cor-de-fundo: #000000;
} 

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

*{
    margin: 0;
    padding: 0;
}